body {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: 640px;
    width: 640px;
    min-width: 640px;
    max-height: 640px;
    border: 1px solid black;
}

.grid-square {
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    border: 1px solid black;
}

.hover-effect {
    background-color: green;
}

.clear-button {
    width: 80px;
    height: 30px;
}